.konten{
padding-left: 5em;
padding-right:5em;
}

.kotak{
   display:grid;
    height: 2em;

   background: #F0C076;
   text-align: center;

}

.foto{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    align: center;

}